* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  .logo img {
    width: 120px;
  }
  
  .navbar p {
    font-size: 2rem;
    color:  #6D9BF1;
  }
  
  .menu a {
    font-size: 1.5rem;
    color:  #6D9BF1;
  }
  
  .menu li {
    padding-left: 2.5rem;
  }
  
  .fa-bars {
    color: #000000;
  }
  
  .button-signup {
    background-color:  #6D9BF1;
    border: none;
    box-shadow: none;
    color: #ffffff;
    padding: 6px;
    font-size: 1.5rem;
    text-align: center;
    width: 150px;
    margin-left: 2.5rem;
  }
  
  .button-signup:hover {
    color: white;
    text-decoration: none;
    background: rgb(24, 24, 133);
  }
  
  .button-search {
    background-color:  #6D9BF1;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 2rem;
    padding: 1px;
    width: 150px;
  }
  
  .button-search:hover {
    background: rgb(24, 24, 133);
  }
  
  .form-content {
    width: 80%;
    margin-top: 15%;
  }
  
  .input-group {
    width: 80%;
    margin-left: 23%;
  }
  
  .form-control {
    height: 50px;
    padding: 15px;
    border-radius: 0;
    border: 1px solid  #6D9BF1;
  }
  
  h1 {
    margin-left: 23%;
    color:  #6D9BF1;
    margin-bottom: 50px;
  }
  
  .search-content {
    font-size: 1.2rem;
    margin-left: 23%;
    color: #676871;
    padding-top: 20px;
    font-weight: bold;
  }
  
  .search-content a {
   font-weight: bold;
   color:  #6D9BF1;
  }
  
  
  #footer {
    background-color:  #6D9BF1; 
    margin-top: 32%;  /* YOU CAN PULL THIS OUT WHEN YOU IMPLEMENT YOUR PAGE.*/
    padding-top: 10px;
    /* height: 300px; */
    width: 100%;
  }
  
  .links {
    padding-top: 5px;
  }
  
  .social-links h3,
  .quick-links li {
    list-style-type: none;
    padding-top: 5px;
  }
  
  .social-links h3,
  .quick-links li:first-child {
    color: #ffffff;
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .quick-links li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .social-links a span {
    color: #ffffff;
    letter-spacing: 20px;
  }
  
  .social-links p,
  .copyright p {
    padding-top: 10px;
    color: #ffffff;
    font-size: 12px; 
  }
  
  .line{
    display: none;
  }
  
  /* Responsive styling */
  @media screen and (max-width: 768px) {
      h1 {
        font-size: 30px;
      }
      #footer {
        padding-top: 10px;
        height: 450px;
        width: 100%;
     }
  }
  
  @media screen and (max-width: 768px) {
      .input-group {
        width: 100%;
        margin-left: 12%;
    }
      .form-control {
        height: 50px;
        padding: 20px;
        border-radius: 0;
        border: 1px solid  #6D9BF1;
    }
      .button-search {
        background-color:  #6D9BF1;
        border: none;
        box-shadow: none;
        color: #ffffff;
        font-size: 1.2rem;
        padding: 1px;
        width: 80px;
    }
      .search-content {
        font-size: 1rem;
        width: 100%;
        margin-left: 13%;
        color: #676871;
        padding-top: 20px;
        font-weight: bold;
    }
  }
  
  @media screen and (max-width: 375px) {
    .input-group {
      width: 120%;
      margin-left: 4%;
    }
  
    .search-content {
      font-size: 1rem;
      width: 120%;
      margin-left: 8%;
      color: #676871;
      padding-top: 20px;
      font-weight: bold;
    }
  
    .line{
      display: block;
      margin: 0 auto;
      padding: 0;
      height: 0px;
      border: 1px solid #ffffff;
      width: 25%;
      background: #000;
    }
  }