body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
}

.container{
    height: 100%;
    width: 100%;
}

.error-template{
    text-align: center;
    padding: 2%;
}

.error-action{
    margin: 10px;
}

.error-action .btn{
    margin-right: 15px;
}

.icon{
    width: 150px;
    height: 150px;
    margin-left: 5%;
}

.error-img{
    width: 700px;
    height: 300px;
}

.error-details{
    margin-bottom: 3%;
}

.button{
    background-color: #6D9BF1;
    border: 1px  #6D9BF1;
    padding: 1% 7%;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffebef;
    font-weight: normal;
}

@media screen and (max-width: 800px){
    .error-template{
        padding-top: 10%;
    }
    
    .icon{
        width: 25%;
        height: 25%;
        margin-left: 0px;
    }

    .error-img{
        width: 70%;
        height: 20%;
    }
}

@media screen and (max-width: 480px){
    .container{
        padding-top: 3%;
    }

    .error-img{
        padding-top: 20%;
    }
}
