/* All externall CSS starts here */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: #000000
}

.btn-primary{
    background-color: #6D9BF1 !important;
    color: white !important; 
    border-radius: 0;
    border: none;
}

.navbar-brand {
    margin-left: 5rem;
    width: 40px
}
@media screen and (max-width: 876px) {
    .navbar-brand {
        margin-left: 0rem;
        width: 40px
    }
}
#login-bttn {
    color: #6D9BF1;
    /* margin-right: 2rem */
}
#signup-bttn {
    color: #213DCD;
    /* margin-right: 10rem; */

}
#signup-bttn {
    border: 1px solid;
    background-color: #213DCD;
    color: #fff;
    width: 8rem;
    text-align: center;
    height: 2.6rem;
    margin-right: 11.5rem;
    cursor: pointer;
}
#search-space {
    border: 1px solid;
    background-color: #6D9BF1;
    border-radius: 0;
    color: #fff;
    width: 6rem;
    text-align: center;
    height: 2.5rem;
    margin-right: 1rem;

}
#nav-top {
    list-style: none;
    display: flex;
}

.ul-nav{
    position: relative;
    left: 8rem;
}


@media screen and (max-width: 876px) {
    #nav-top{
      display: block;
    }
}
#not-logged {
    margin-left: 5rem;
    font-size: 1.2rem
}

@media screen and (max-width: 876px) {
    #not-logged {
        margin-left: 0rem; 
    }
}
#large-bttn {
    width: 13rem;
}
#search-buttn {
    margin-left: 2rem; 
}
@media screen and (max-width: 876px) {
    #search-buttn {
        margin-left: 0rem; 
    }
}
#read {
    margin-left: 28rem;
    font-size: 1.2rem;
    -webkit-text-fill-color: black;  
    /*text-decoration: underline;
    text-decoration-color: #6D9BF1;*/
    border-bottom: 0.2rem solid #6D9BF1;  
}
#read:hover{
    text-decoration: none;
}
@media screen and (max-width: 876px) {
        #read {
          margin-left: 0rem;
    }
}
.portfolio {
    background-color: rgba(33, 60, 220, 0.08);
    padding: 1rem 2rem;
    fill: solid;
    margin-right: 2rem;
    line-height: 28px;
}
.fela-dob{
    font-size: 0.85rem !important;
}
.fela-content{
    font-size: 1rem;
    margin: 2rem
}
.poli-quali {
    font-size: 1.2rem;
    font-weight: 500
}


 /*--------part two begins-------------*/

 .img-fela{
    background-attachment: fixed !important;
    border-radius: 10px;
}

.interactives{

    font-weight: bold;
    font-size: 1rem;
    margin-top: -1.4rem;
    /* line-height: 30px; */
    /* identical to box height, or 222% */


    color: #000000;
}
.text-wrap {
    font-size: 1rem;
}
.fa-heart{
    cursor: pointer;
    color: black;
}
#footer{
    background: #6D9BF1 !important;
}
.social-links h3 {
font-size: 1rem;
line-height: 1.5;
}
#footer {
    background-color: #213DCD; 
    margin-top: 40px;  /* YOU CAN PULL THIS OUT WHEN YOU IMPLEMENT YOUR PAGE.*/
    padding-top: 10px;
    width: 100%;
  }
  
  .links {
    padding-top: 5px;
  }
  
  .social-links h3,
  .quick-links li {
    list-style-type: none;
    padding-top: 5px;
  }
  
  .social-links h3,
  .quick-links li:first-child {
    color: #ffffff;
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .quick-links li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .social-links a span {
    color: #ffffff;
    letter-spacing: 20px;
  }
  
  .social-links p,
  .copyright p {
    padding-top: 10px;
    color: #ffffff;
    font-size: 12px; 
  }
  
  .line{
    display: none;
  }
