* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.logo img {
  width: 120px;
}

.navbar p {
  font-size: 2rem;
  color: #6D9BF1;
}

.menu a {
  font-size: 1.5rem;
  color: #6D9BF1;
}

.menu li {
  padding-left: 2.5rem;
}

.fa-bars {
  color: #000000;
}

.posts-nav-link {
   background-color: #6D9BF1 !important;
  
  color: #ffffff !important;
  padding: .6rem 1.7rem;
}

.posts-nav-link:hover {
   text-decoration: none;
    background-color: rgb(69, 115, 202) !important;
}

.button-signup {
  background-color: #6D9BF1;
  border: none;
  box-shadow: none;
  color: #ffffff;
  padding: 6px;
  font-size: 1.5rem;
  width: 150px;
  margin-left: 2.5rem;
}

.button-signup:hover {
   background: rgb(69, 115, 202);
}

.user-name-link {
  color: black !important;
}

.button-search {
  background-color: #6D9BF1;
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-size: 2rem;
  padding: 1px;
  width: 150px;
}

.form-content {
  width: 80%;
  margin-top: 15%;
}

.input-group {
  width: 80%;
  margin-left: 23%;
}

h1 {
  color: #6D9BF1;
  margin-bottom: 50px;
}

.search-content {
  font-size: 1.2rem;
  margin-left: 23%;
  color: #676871;
  padding-top: 20px;
  font-weight: bold;
}

.form-control {
  border: 1px solid rgb(148, 148, 148);
  border-radius: 0;
}

.send-email {
  background: #6D9BF1;
  color: white;
  border-radius: 0;
}

.send-email:hover {
   background: rgb(69, 115, 202);
}

.send-email:hover {
  color: white;
}

.search-content a {
 font-weight: bold;
 color: #6D9BF1;
}


#footer {
  background-color: #6D9BF1;
  margin-top: 200px;
  padding-top: 10px;
  height: 300px;
  width: 100%;
}

.links {
  padding-top: 20px;
}

.quick-links li {
  list-style-type: none;
  padding-top: 5px;
}

.quick-links li:first-child {
  color: #ffffff;
  padding-bottom: 10px;
  font-weight: bold;
}

.main-body .fas,
.main-body .fab {
  display: inline-block;
  margin-right: 2rem;
}

.icons-row {
  padding: 0 3rem;
}

.icons-row a {
  color: #333;
}

.icons-row a:hover {
  color: #555;
}

.secondrow-content {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333;
}

.secondrow-content > * {
  margin-bottom: 1rem;
}

.quick-links li a {
  color: #ffffff;
  text-decoration: none;
}

.social-links a span {
  color: #ffffff;
  letter-spacing: 20px;
}

.copyright p {
  padding-top: 10px;
  color: #ffffff;
  font-size: 12px; 
}

/* Responsive styling */
@media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
    }
    #footer {
      margin-top: 150px;
      padding-top: 10px;
      height: 450px;
      width: 100%;
   }
    .social-links {
      margin-left: 40px;
  }

  .fa-2x {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 768px) {
    .input-group {
      width: 100%;
      margin-left: 12%;
  }
}

@media screen and (max-width: 375px) {
  .input-group {
    width: 120%;
    margin-left: 4%;
  }
}
