footer {
    background: rgba(33, 60, 220, 0.1);
}



.footer-list li  a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.footer-list li{
   margin: 15px;
    
}

.footer-list {
    list-style: none;
    text-align: center;
    font-weight: bold;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 5%;
    
}

.footer_brand img{
    height: 15vh;
}



/* media queries */
@media screen and (max-width: 768px){
    .footer-list li {
        font-weight:  bold;
        font-size: 13px;       
    }
    
}

@media (min-width: 320px) and (max-width: 767px) {
    footer {
        height: 200px;
    }

    .footer-list{
        display: flex;
        flex-direction: column;
        right: 25%;
        transform: translate(-20%, 0%);
        height: auto;
        text-align: center;       
    }

    .footer-nav{
        width: 100%;
        
    }

    .footer-list li{
        margin: 10px 0px;
         
     }
}