body {
 font-family: 'Lato';
}

.heading {
  font-size: 2.25rem;
  margin-left: 25px;
  margin-bottom: 20px;
  font-weight: 700;
}

#forgot-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#forgot-form #forgotemail {
  /* border: 1px solid #213dcd; */
  height: 55px;
  margin-bottom: 25px;
  border-radius: 0;
}

.btn-blue {
  background-color: #6d9bf1;
  border: 1px solid #213dcd;
}

.btn-primary:hover {
  background-color: rgb(105, 145, 219) !important;
}

@media (max-width: 585px) {
  .form-container {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }

  #forgot-form {
    width: 99%;
  }
}

@media (max-width: 450px) {
  .heading {
    font-size: 35px;
  }
}
