#politic-head {
    color: #6D9BF1;
}

#submit {

	border: 0px;
	background: none;
	background-color: #6D9BF1;
	color: #fff;
	padding: 8px 20px;
	cursor:pointer;
    margin-right: 10px;
    float: right;
    margin-bottom: 50px;
    margin-top: 50px;

}

body {
    font-weight: bolder;
}

#footer{
    background: #6D9BF1 !important;
}
.social-links h3 {
font-size: 1rem;
line-height: 1.5;
}