.blog-entries .blog-entry .blog-content-body {
      padding: 20px;
      border: 1px solid #efefef;
      border-top: none;
    }

    .blog-entries .blog-entry img {
      max-width: 100%;
    }

    .blog-entries .blog-entry h2 {
      font-size: 18px;
      line-height: 1.5;
    }

    .blog-entries .blog-entry p {
      font-size: 13px;
      color: gray;
    }

    .blog-entries .post-meta {
      margin-bottom: 20px;
      color: #b3b3b3;
    }

    a {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: #000;
      font-family: "Josefin Sans", arial, sans-serif;
    }

    .category {
      display: inline-block;
      background: #007bff;
      padding: 2px 8px;
      line-height: 1.5;
      font-size: 12px;
      border-radius: 4px;
      text-transform: uppercase;
      color: #fff !important;
      margin-right: 10px;
    }

    .a-block {
      display: block;
      background-size: cover;
      background-position: center center;
      padding: 30px;
      position: relative;
      margin-bottom: 30px;
      height: 300px;
    }

    .a-block.height-lg {
      height: 500px;
    }

    .a-block.height-md {
      height: 400px;
    }

    .a-block:before {
      background: #000;
      position: absolute;
      content: "";
      z-index: 1;
      opacity: .3;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .a-block .text {
      position: relative;
      z-index: 2;
      max-width: 100%;
    }

    .a-block .text.half-to-full {
      max-width: 50%;
    }

    .site-section {
      padding: 2em 0;
    }

    .site-section.py-md {
      padding: 1em 0;
    }

    .logo img {
      width: 120px;
    }

    .navbar p {
      font-size: 2rem;
      color: #213DCD;
    }

    .menu a {
      font-size: 1.5rem;
      color: #213DCD;
    }

    .menu li {
      padding-left: 2.5rem;
    }

    .fa-bars {
      color: #000000;
    }

    .button-signup {
      background-color: #213DCD;
      border: none;
      box-shadow: none;
      color: #ffffff;
      padding: 6px;
      font-size: 1.5rem;
      width: 150px;
      margin-left: 2.5rem;
    }

    .site-section.py-sm {
      padding: 0em 0;
    }

    #footer {
  background-color: #213DCD;
  margin-top: 30px;
  padding-top: 10px;
  height: 300px;
  width: 100%;
}

.links {
  padding-top: 20px;
}

.quick-links li {
  list-style-type: none;
  padding-top: 5px;
}

.quick-links li:first-child {
  color: #ffffff;
  padding-bottom: 10px;
  font-weight: bold;
}

.main-body .fas,
.main-body .fab {
  display: inline-block;
  margin-right: 2rem;
}

.icons-row {
  padding: 0 3rem;
}

.icons-row a {
  color: #333;
}

.icons-row a:hover {
  color: #555;
}

.secondrow-content {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333;
}

.secondrow-content > * {
  margin-bottom: 1rem;
}

.quick-links li a {
  color: #ffffff;
  text-decoration: none;
}

.social-links a span {
  color: #ffffff;
  letter-spacing: 20px;
}

.blog-entries .blog-entry {
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative;
}

.blog-entries .blog-entry:hover, .blog-entries .blog-entry:focus {
  opacity: .7;
  top: -1px;
  -webkit-box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
}

.copyright p {
  padding-top: 10px;
  color: #ffffff;
  font-size: 12px; 
}

/* Responsive styling */
@media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
    }
    #footer {
      margin-top: 150px;
      padding-top: 10px;
      height: 450px;
      width: 100%;
   }
    .social-links {
      margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
    .input-group {
      width: 100%;
      margin-left: 12%;
  }
}

@media screen and (max-width: 375px) {
  .input-group {
    width: 120%;
    margin-left: 4%;
  }
}
