@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.row {
    margin-right: 0;
    margin-left: ;
}

.register_container {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: #E5E5E5;
}

/*
.aside_img_box {
    background-image: url('https://res.cloudinary.com/wpgroom-com/image/upload/v1571736661/Group_18_sfpvd7.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.aside_content h2{
    font-weight: 700;
}
*/
.signup_form input, .login_form input {
    height: 48px;
    width: 450px;
    margin-bottom: 20px;
    border: 1px solid #6D9BF1;
    border-radius: 0;
}
.signup_form input::placeholder{
    color: #7E7E7E;
}
input[name='sign-up'], input[name='log-in'] {
    background-color: #6D9BF1 !important;
    font-size: 20px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.footer_box {
    height: 398px;
    color: #fff;
    background-color: #213DCD !important;
}

.footer_box a {
    color: #fff;
    font-size: 25px;
    line-height: 2;
    font-family: 'Gilroy', sans-serif;
}

.err-msg
{
    display: none;
    text-align: center;
    background-color: crimson;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}
.text-bold {
    font-weight: 700
}

.social_footer {
    font-size: 20px;
    padding: 0 0 20px 0;
}

.social_footer i {
    padding-left: 6vw;
    padding-right: 6vw;
}


@media (max-width:1000px) {
    .aside_img_box {
        position: absolute;
        z-index: -5;
        opacity: 0.7;
    }

    .register_container {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:500px) {
    .signup_form input
    
     {
        height: 50px !important;
        width: 85vw !important;
        margin-bottom: 0;
    }

    .login_form input {
        width: 90vw !important;
        margin: 0 auto  !important;
        margin-bottom: 30px  !important;
        height: 50px  !important;
    }

    .register_container {
        height: 100%;
        padding-bottom: 90px;

    }

    .footer_link {
        display: flex;
        flex-direction: column
    }

    .footer_box {
        height: auto;
        padding-bottom: 50px;
    }

    .footer_link_two {
        margin-top: 40px;
        margin-bottom: 30px
    }
}

@media (max-width: 350px) {
    
}
